body {
  width:  100%;
  height: 100%;
  margin: 0px;
  font-family: sans-serif;
}

.swatch {
  width: 48px;
  height: 48px;
  display: block;
  overflow: hidden;
  text-indent: -1000px;
  float: left;
  background: #000;
  margin: 12px 12px 0 0; 
  font-size: 0.7em;
  font-family: monospace;
}

code {
  padding: 1em;
  margin: 1em 0;
  display: block;
  position: relative;
  line-height: 1.33em;
  background: rgba(0,0,0,0.05);
  border: 1px solid rgba(0,0,0,0.1);
  border-radius: 4px;
}

.comment {color: #888}

.clear {
  width: 100%;
  clear: both;
}

header,
section {
  width: 660px;
  margin: 2em auto
}

section {
  border-top: 1px solid rgba(0,0,0,0.2);
  padding: 1em 0;
}